.card {
    margin: 4px;
    border: 2px solid black;
    height: 380px;
    width: 210px;
    background-color: rgba(255, 255, 255, 0.756);
    border-radius: 14px;
}
.img {
    width: 200px;
    height: 250px;
    border-radius: 12px;
}
.card:hover {
    transform: scale(1.4); 
}
.card h4{
    color: black;
    background-color: white;
    margin: 8px;
}
.card h6{
    color: black;
    background-color: white;
    margin: 8px;
}
