@import url('//db.onlinewebfonts.com/c/1a9e06429c308314c75092b63b2c18f4?family=Biko');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.card{
    background: rgb(53, 53, 52);
    width: 280px;
    height: 350px;
    display: flex;
    margin: 10px;
    border-radius: 5px; 
     box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.3);
    position: relative;
    text-align: center;
    text-decoration: "none";
    color:#fcf7f7;
} 
.card:hover{
z-index: 1;
transform: scale(1.20);
filter:brightness(140%) contrast(120%);
float: inline-start;
}
h5{
    font-family: "Montserrat";
    color: whitesmoke;
}
.linkedname{
    font-family: "Montserrat";
    font-size: 17px;
    text-decoration: none;    
    color: white;
    filter:brightness(110%);
    position: relative;
    text-align: center;
  }

.linkedname:hover{
filter:brightness(130%)
}

.extras{
    color: whitesmoke;
    display: inline;
    margin-top: 0;
    font-size: 12px;
}

.img{
 position:relative;
 align-self: center;
padding: 0px;
height: 180px;
width: 280px;
filter: 
contrast(120%) 
opacity(60%);
}

.favorite{
    position: absolute;
    bottom: 18px;
    right: 5%;     
}