.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c9fde0;
    height: 84vh;
    width: 48vw;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
}
.input {
    border-radius: 4px;
    border: 1px solid black;
}

.container form{

    height: 40vh;
}
.title {
    font-weight: 600;
}
.select {
    margin: 8px;
}

.temperament{
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.88);
    border: 1.5px solid black;
    border-radius: 8px;
    width: 32vw;
    height: 120px;
    margin: 10px auto;
}

.temperament p{
    margin: 2px;
}

.btns{
    margin-top: 8px;
}

.btns button{
    background-color: white;
    color: black;
    border: 1.5px solid black;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 2px;
}

.btns button:hover{
    background-color: black;
    color: white;
}

.ul{
    margin: 2px;
    display: flex;
    width: auto;
    overflow: auto;
    height: 20vh;
    padding: 0;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.li{
    display: flex;
    list-style: none;
    font-size: 14px;
    margin: 2px;
}

.btnx{
    background-color: #ffe8e8;
    color: black;
    border: 1.5px solid black;
    border-radius: 18px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 2px;
}
.btnx:hover{
    background-color: rgb(228, 0, 0);
    color: white;
}
.err{
    display: contents;
    color: red;
    font-weight: 500;
}
@media(max-width: 700px){
    .container{
        width: 96vw;
        margin: 10px 2px;
    }
    .ul{
        height: 12vh;
    }
    .temperament{
        width: 80vw;
        height: 4rem;
    }
}