.container{
    justify-content: space-around;
    align-items:center;
    background-color: #c9fde0;
    border: 1.5px solid black;
    border-radius: 8px;
    width: 44vw;
    height: 88vh;
    margin: 10px auto;
}

.container h2 {
    margin: 0;
}

.img{
    width: 250px;
    height: 300px;
    border-radius: 10px;
}

.detail h5{
    margin: 12px;
    border-bottom: 1px solid black;
}


.delete{
    display: block;
    margin: 2px;
    background-color: white;
    color: black;
    border: 1.5px solid black;
    font-size: 18px;
    padding: 2px 4px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.delete:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}