.container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.title h1{
    text-align: center;
}

.filter {
    display: flex;
    justify-content: space-around;
    align-items:center;
    background-color: #c9fde0c2;
    border: 1.5px solid black;
    border-radius: 8px;
    width: 600px;
    height: 50px;
    margin: 16px auto 0;
}

.card {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    width: 100%;
}

.card div{
    padding: 6px;
}



.select {
    font-family: 'Verdana', sans-serif;
    font-weight: 400;
    color: #444;
    padding: 4px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    appearance: none;
    cursor: pointer;
}
  
.select:hover{
    background-color: #FFE699;
    color: black;
}

.refresh{
    margin: 10px;
    cursor: pointer;
}
  
.refresh{
    background-color: white;
    color: black;
    border: 1.5px solid black;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.refresh:hover{
    background-color: #FFE699;
    color: black;
}

