
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


.gral{
    overflow: hidden;
    display: flex;
    height: 100hv;
    width: 100vw;
    }

.welcome{
    border: none;
    background-color: transparent;
    color:whitesmoke;
    text-shadow: 0.5 0.5 1px black;
    position:absolute;
    font-family: "Montserrat";
    font-size: 40px;
    font-weight:bolder;
    bottom: 70px;
   left: 45px;
    z-index: 1;
}
.welcome:hover{
    transform: scale(1.10);
}
.img{
    position: relative;
    height: 100hv;
    width: 100vw;   
}
.datawoof{
    position:absolute;
    left: 100px;
    top: 75px;
    z-index: 1;
}
.video{
position: relative;
height: 100hv;
width: 100vw;
}