.container button{
    background-color: white;
    color: black;
    margin: 10px 10px 0 0;
    border: 1.5px solid black;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 18px;
}

.container button:hover{
    background-color: black;
    color: white;
}
.container p{
    color: black;
}