.container {
    background-color: #c9fde0c2;
    display: flex;
    height: 3vh;
    border-bottom: 1.5px solid black;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
}

.container button{
    background-color: white;
    color: black;
    border: 1.5px solid black;
    cursor: pointer;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 18px;
}
.landing a h1{
    color: black;
}

.container button:hover{
    background-color: #FFE699;
    color: black;
}
.container p{
    color: black;
}

.links{
    width: 24rem;
    display: flex;
    justify-content: space-around;
}