.lista1 {
  background-color: rgba(255, 255, 255, 0.59);
  border: 5px;
}

.lista1 li {
  display:inline;
  padding-left:3px;
  padding-right:3px;
}

.listabtn {
  border-width: 4px;
  border-color: white;
}