.search{
    display: flex;
    justify-content: center;
    /* border: 1.5px solid black;
    border-radius: 8px;
    width: 210px;
    margin: 10px auto; */
}

.search button img {
    width: 20px;
}

.search button{
    margin-left: 2px;
    border-radius: 6px;
    border: 1.5px solid black;
    cursor: pointer;

}

.search input {
    height: 24px;
    border-radius: 6px;
    border: 1.5px solid black;
}



